[Unit]
Description=Gunicorn instance to serve flask monitoring-seismon
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/home/inatews/monitoring-seismon/
Environment="PATH=/home/inatews/monitoring-seismon/myenv/bin"
ExecStart=/home/inatews/monitoring-seismon/myenv/bin/gunicorn --config gunicorn_config.py wsgi:app

[Install]
WantedBy=multi-user.target