<ul class="navbar-nav ml-auto" id="navigation">
    <li class="nav-item active" data-menuanchor="home">
        <a class="nav-link" href="#home">Home</a>
    </li>
    <!-- <li class="nav-item" data-menuanchor="our-mission">
    <a class="nav-link" href="#our-mission">Our mission</a>
    </li> -->
    <li class="nav-item" data-menuanchor="tamu">
        <a class="nav-link" href="#tamu">Tamu</a>
    </li>
    <li class="nav-item" data-menuanchor="our-solutions">
        <a class="nav-link" href="#khusus">Khusus</a>
    </li>
    <li class="nav-item" data-menuanchor="our-solutions">
        <a class="nav-link" href="#kepala">Kepala Stasiun</a>
    </li>
    <li class="nav-item" data-menuanchor="our-solutions">
        <a class="nav-link" href="#tu">TU</a>
    </li>
    <li class="nav-item" data-menuanchor="our-solutions">
        <a class="nav-link" href="#datin">Datin</a>
    </li>
    <li class="nav-item" data-menuanchor="our-solutions">
        <a class="nav-link" href="#stageof">Stageof</a>
    </li>
    <li class="nav-item" data-menuanchor="our-solutions">
        <a class="nav-link" href="#lain">Lainnya</a>
    </li>
    <li class="nav-item" data-menuanchor="our-solutions">
        <a class="nav-link" href="#bukutamu">Buku Tamu</a>
    </li>
</ul>